{% if categories %}<h4>Categories</h4>
  {% for category in categories %}
    <div class="media">
       <a class="pull-left" href="#" style="width:40px;height:40px;">
        {% if obj.image %}
          <img class="img-rounded" src="{{ obj.image.url }}" height="40" width="40">{% else %}
        <i class="fa fa-cogs fa-3x"></i>
        {% endif %}
      </a>
      <div class="media-body">
        <h5 class="media-heading">{{ category.title }}</h5>
        <p>{{ category.subtitle|default:'' }}</p>
      </div>
    </div>
  {% endfor %}
    <hr>
{% endif %}