{% load staticfiles %}
<!-- HEADER -->


<header id="header">


    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img src="{% static 'img/logo.png' %}" alt="{{ site }}"> </span>
        <!-- END LOGO PLACEHOLDER -->

        <!-- Note: The activity badge color changes when clicked and resets the number to 0
        Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
        <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>

        <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
        <div class="ajax-dropdown">

            <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="activity" id="{% static 'ajax/notify/mail.html' %}">
                    Msgs (14) </label>
                <label class="btn btn-default">
                    <input type="radio" name="activity" id="{% static 'ajax/notify/notifications.html' %}">
                    notify (3) </label>
                <label class="btn btn-default">
                    <input type="radio" name="activity" id="{% static 'ajax/notify/tasks.html' %}">
                    Tasks (4) </label>
            </div>

            <!-- notification content -->
            <div class="ajax-notifications custom-scroll">

                <div class="alert alert-transparent">
                    <h4>Click a button to show messages here</h4>
                    This blank page message helps protect your privacy, or you can show the first message here automatically.
                </div>

                <i class="fa fa-lock fa-4x fa-border"></i>

            </div>
            <!-- end notification content -->

            <!-- footer: refresh area -->
            <span> Last updated on: 12/12/2013 9:43AM
                <button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
                    <i class="fa fa-refresh"></i>
                </button>
            </span>
            <!-- end footer -->

        </div>
        <!-- END AJAX-DROPDOWN -->

    </div>

{% comment %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav">
											<li class="active">
												<a href="#">Link</a>
											</li>
											<li>
												<a href="#">Link</a>
											</li>
											<li class="dropdown dropdown-large">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">Large Dropdown <b class="caret"></b></a>

												<ul class="dropdown-menu dropdown-menu-large row">
													<li class="col-sm-3">
														<ul>
															<li class="dropdown-header">
																Glyphicons
															</li>
															<li>
																<a href="javascript:void(0);">Available glyphs</a>
															</li>
															<li class="disabled">
																<a href="javascript:void(0);">How to use</a>
															</li>
															<li>
																<a href="javascript:void(0);">Examples</a>
															</li>
															<li class="divider"></li>
															<li class="dropdown-header">
																Dropdowns
															</li>
															<li>
																<a href="javascript:void(0);">Example</a>
															</li>
															<li>
																<a href="javascript:void(0);">Aligninment options</a>
															</li>
															<li>
																<a href="javascript:void(0);">Headers</a>
															</li>
															<li>
																<a href="javascript:void(0);">Disabled menu items</a>
															</li>
														</ul>
													</li>
													<li class="col-sm-3">
														<ul>
															<li class="dropdown-header">
																Button groups
															</li>
															<li>
																<a href="javascript:void(0);">Basic example</a>
															</li>
															<li>
																<a href="javascript:void(0);">Button toolbar</a>
															</li>
															<li>
																<a href="javascript:void(0);">Sizing</a>
															</li>
															<li>
																<a href="javascript:void(0);">Nesting</a>
															</li>
															<li>
																<a href="javascript:void(0);">Vertical variation</a>
															</li>
															<li class="divider"></li>
															<li class="dropdown-header">
																Button dropdowns
															</li>
															<li>
																<a href="javascript:void(0);">Single button dropdowns</a>
															</li>
														</ul>
													</li>
													<li class="col-sm-3">
														<ul>
															<li class="dropdown-header">
																Input groups
															</li>
															<li>
																<a href="javascript:void(0);">Basic example</a>
															</li>
															<li>
																<a href="javascript:void(0);">Sizing</a>
															</li>
															<li>
																<a href="javascript:void(0);">Checkboxes and radio addons</a>
															</li>
															<li class="divider"></li>
															<li class="dropdown-header">
																Navs
															</li>
															<li>
																<a href="javascript:void(0);">Tabs</a>
															</li>
															<li>
																<a href="javascript:void(0);">Pills</a>
															</li>
															<li>
																<a href="javascript:void(0);">Justified</a>
															</li>
														</ul>
													</li>
													<li class="col-sm-3">
														<ul>
															<li class="dropdown-header">
																Navbar
															</li>
															<li>
																<a href="javascript:void(0);">Default navbar</a>
															</li>
															<li>
																<a href="javascript:void(0);">Buttons</a>
															</li>
															<li>
																<a href="javascript:void(0);">Text</a>
															</li>
															<li>
																<a href="javascript:void(0);">Non-nav links</a>
															</li>
															<li>
																<a href="javascript:void(0);">Component alignment</a>
															</li>
															<li>
																<a href="javascript:void(0);">Fixed to top</a>
															</li>
															<li>
																<a href="javascript:void(0);">Fixed to bottom</a>
															</li>
															<li>
																<a href="javascript:void(0);">Static top</a>
															</li>
															<li>
																<a href="javascript:void(0);">Inverted navbar</a>
															</li>
														</ul>
													</li>
												</ul>

											</li>
										</ul>
										<form class="navbar-form navbar-left" role="search">
											<div class="form-group">
												<input class="form-control" placeholder="Search" type="text">
											</div>
											<button type="submit" class="btn btn-default">
												Submit
											</button>
										</form>
										<ul class="nav navbar-nav navbar-right">
											<li>
												<a href="#">Link</a>
											</li>
											<li class="dropdown">
												<a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
												<ul class="dropdown-menu" role="menu">
													<li>
														<a href="#">Action</a>
													</li>
													<li>
														<a href="#">Another action</a>
													</li>
													<li>
														<a href="#">Something else here</a>
													</li>
													<li class="divider"></li>
													<li>
														<a href="#">Separated link</a>
													</li>
												</ul>
											</li>
										</ul>
									</div><!-- /.navbar-collapse -->

{% endcomment %}
    <!-- projects dropdown -->
    <div class="project-context hidden-xs">

        <span class="label">Projects:</span>
        <span class="project-selector dropdown-toggle" data-toggle="dropdown">Recent projects <i class="fa fa-angle-down"></i></span>

        <!-- Suggestion: populate this list with fetch and push technique -->
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:void(0);">Online e-merchant management system - attaching integration with the iOS</a>
            </li>
            <li>
                <a href="javascript:void(0);">Notes on pipeline upgradee</a>
            </li>
            <li>
                <a href="javascript:void(0);">Assesment Report for merchant account</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>
            </li>
        </ul>
        <!-- end dropdown-menu-->

    </div>
    <!-- end projects dropdown -->









    <!-- pulled right: nav area -->
    <div class="pull-right">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->

        <!-- #MOBILE -->
        <!-- Top menu profile link : this shows only when top menu is active -->
        <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
            <li class="">
                <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                    <img src="{% static 'img/avatars/sunny.png' %}" alt="John Doe" class="online" />
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% static 'profile.html' %}" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% static 'login.html' %}" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span> <a href="{% static 'login.html' %}" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->

        <!-- search mobile button (this is hidden till mobile view port) -->
        <div id="search-mobile" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
        </div>
        <!-- end search mobile button -->

        <!-- input: search field -->
        <form action="{% static 'search.html' %}" class="header-search pull-right">
            <input id="search-fld"  type="text" name="param" placeholder="Find reports and more" data-autocomplete='[
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"]'>
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
            <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
        </form>
        <!-- end input: search field -->

        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>
        <!-- end fullscreen button -->

    </div>
    <!-- end pulled right: nav area -->

   </header>


<!-- END HEADER -->