{% if object.related %}
<h4>Related Tools</h4>
    {% for tool in object.related.all %}
    <div class="media">
      <a class="pull-left" href="#" style="width:40px;height:40px;">
        {% if obj.image %}
          <img class="img-rounded" src="{{ obj.image.url }}" height="40" width="40">{% else %}
        <i class="fa fa-cog fa-3x"></i>
        {% endif %}
      </a>
      <div class="media-body">
        <h5 class="media-heading">{{ tool.title }}</h5>
        <p>{{ tool.subtitle|default:tool.description|truncatechars:20|default:'' }}</p>
      </div>
    </div>
    {% endfor %}
    <hr>
{% endif %}
